{% extends 'components/base.html' %}
{% block title %}
Gallery
{% endblock %}

{% block content %}
<section class="container">
    <div class="gallery-title-box">
        <h1 class="gallery-title">Here it is some drawing
            <br> made by me.
        </h1>
    </div>
    <div class="gallery-box">
        {% for img in gallerys %}
        <div class="image mt-3">
            <img class="drawing-img" src="{{ img.DrawingImage.url }}" alt="">
            <div class="overlay">
                <h1 class="img-title">{{ img.Title }}</h1>
                <p class="img-pera">{{ img.Decriptions }}</p>
            </div>
        </div>


        {% endfor %}
    </div>
</section>

{% endblock %}