{% extends 'components/base.html' %}
{% load static %}
{% block title %}
Jay Jakasaniya
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-box container">
        <h1 class="hero-title">WELCOME TO MY DIGITAL ART GALLERY</h1>
        <a href="{% url 'gallerys' %}" class="hero-btn btn-dark px-3 py-2 text-decoration-none ">Go to Gallery </a>
    </div>
</section>
<section class="aboutme">
    <div class="about-box container">
        <div class="s2-head">
            <h1 class="s2-title">let’s introduce My Self</h1>
        </div>
        <div class="s2-body">
            <p class="s2-pera1"> hey, i am jay jakasaniya self taught artist .As a child, I was interested in two things
                —
                art and reading.who thought that art was the most important class of the day; who spent hours in the
                corner
                drawing. But art did not occur to me as a career option.Learning how to draw is a primary skill that
                every
                artist tries to master before diving deep into the creative world. And some of these artists make
                drawing
                their only form of creativity, being experts of the pencil technique and challenging the reality of its
                real
                object.drawing is probably the most archaic form of expression that is still in use today. It is the
                simplest way to communicate through visual elements and association, and probably it is the most genuine
                skill ever. People that draw as an extensive part of their daily lives have a different and more
                intimate
                outlook on the world. Think about children, and how they learn how to draw and assemble shapes, colours
                and
                lines before they know how to communicate properly. Drawing is indeed an integral part of our
                communicative
                beings. Drawing may be an intuitive skill when needed, but also an incredibly challenging skill to
                master.
                Instead I got a bachelor’s degree in computer
                engineering, while painting and drawing in my free time.</p>
            <p class="s2-pera2">Learning how to draw is a primary skill that every artist tries to master before diving
                deep
                into the creative world. And some of these artists make drawing their only form of creativity, being
                experts
                of the pencil technique and challenging the reality of its real object.drawing is probably the most
                archaic
                form of expression that is still in use today. It is the simplest way to communicate through visual
                elements
                and association, and probably it is the most genuine skill ever. People that draw as an extensive part
                of
                their daily lives have a different and more intimate outlook on the world. Think about children, and how
                they learn how to draw and assemble shapes, colours and lines before they know how to communicate
                properly.
                Drawing is indeed an integral part of our communicative beings. Drawing may be an intuitive skill when
                needed, but also an incredibly challenging skill to master. </p>
        </div>
    </div>
</section>

{% endblock %}