{% extends 'components/dashboard.html' %}

{% block title %}Message{% endblock %}
{% block content %}


<section class="message-page  container">
    <div class="msg-content table-responsive mt-5 ">

        <table class="table table-dark table-borderless">
            <thead class="table-dark">
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">E-MAIL</th>
                    <th scope="col">MESSAGE</th>
                </tr>
            </thead>
            <tbody>
                {% for msg in message %}
                <tr>
                    <td>{{ msg.name }}</td>
                    <td>{{ msg.email }}</td>
                    <td>{{ msg.message }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

</section>
{% endblock %}