<div class="footer">
    <div class="footer-box container d-md-flex">
        <div class="footer-logo">
            <h1 class="logo-name">jay jakasaniya</h1>
            <p class="logo-pera">Self taught drawing artist</p>
        </div>
        <div class="page-links">
            <h1 class="page-title">Pages</h1>
            <div class="link-box">
                <a href="{% url 'index' %}" class="footer-page-link">Home</a>
                <a href="{% url 'gallerys' %}" class="footer-page-link">Gallery</a>
                <a href="{% url 'contact' %}" class="footer-page-link">Contact</a>
            </div>
        </div>
        <!-- <div class="update-email-box">
            <h1 class="email-title">Stay Updated with us</h1>
            <form action="">
                <input type="email" class="email-input" placeholder="Enter Your E-mail here">
            </form>
        </div> -->
        <div class="social-media">
            <h1 class="social-media-title">Social Media</h1>
            <div class="social-media-icons">
                <a href="" class="text-decoration-none footer-page-link">INSTAGRAM</a>
            </div>
        </div>
    </div>
</div>